.wp-block-themezee-accordion-icon {
	display: flex;

	.icon-container {
		display: flex;
		justify-content: center;
		width: fit-content;

		figure {
			margin: 0;

			svg {
				display: flex;
				width: inherit;
				height: inherit;
				fill: currentColor;
				vertical-align: top;
			}
		}
	}
}
