.wp-block-themezee-accordion {
	&.has-background {
		padding: 1.5rem;
	}

	.wp-block-themezee-accordion-content,
	.wp-block-themezee-accordion-icon.is-hover-icon .collapse-icon {
		display: none;
		overflow: hidden;
	}

	&.is-opened {
		.wp-block-themezee-accordion-content {
			display: block;
		}

		.wp-block-themezee-accordion-icon.is-hover-flip figure {
			transform: scaleY(-1);
		}

		.wp-block-themezee-accordion-icon.is-hover-rotate figure {
			transform: rotate(90deg);
		}

		.wp-block-themezee-accordion-icon.is-hover-icon {
			.expand-icon {
				display: none;
				overflow: hidden;
			}
		
			.collapse-icon {
				display: block;
			}
		}
	}
}
