.wp-block-themezee-accordion {
	.wp-block-themezee-accordion-content {
		display: none;
		overflow: hidden;
	}

	&.is-opened {
		.wp-block-themezee-accordion-content {
			display: block;
		}

		.wp-block-themezee-accordion-icon.is-hover-flip figure {
			transform: scaleY(-1);
		}

		.wp-block-themezee-accordion-icon.is-hover-rotate figure {
			transform: rotate(90deg);
		}
	}
}
